node_modules

# Virtual Environment
venv/
env/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth
*.pt
*.dll
*.lib
torch/
**/torch_cpu.dll
**/dnnl.lib

# Local development
instance/
.webassets-cache
*.log
*.sqlite

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
